<div class="modal-container">
  <mat-card class="modal-card">
    <div class="modal-header">
      <h1>Editar Transação Financeira</h1>
    </div>
    <div class="modal-body">
      <div class="modal-form">
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Valor da transação:</mat-label>
            <input
              matInput
              type="text"
              formControlName="value"
              (input)="applyCurrencyMaskOnEvent($event)"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Descrição da transação:</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
          <div class="button-group">
            <button mat-raised-button color="warn" mat-dialog-close>
              Cancelar
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [mat-dialog-close]="true"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
      <div class="modal-image">
        <img
          src="assets/images/team.png"
          alt="Cadastro de Transação Financeira"
        />
      </div>
    </div>
  </mat-card>
</div>
